@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
	font-family: 'Roboto', sans-serif;
	--theme-colors-text: #313131;
	--theme-colors-background: #ffffff;
	--theme-colors-background-contrast: #e3e3e3;
	--theme-colors-background-accent: #a8a8a8;
	--theme-colors-shadow: #00000026;
}



body {
	min-height: 100vh;
	margin: 0;
	border: none;
  background-color: var(--theme-colors-background-contrast);
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	opacity: 0.05;
}

.pointer {
	cursor: pointer;
}
