@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
	font-family: 'Roboto', sans-serif;
	--white: #ffffff;
	--primary-color: #ff3e00;
	--secondary-color: #0077ff;
	--tertiary-color: #268d69;
	--text-color: #3f3f3f;
}

body {
	min-height: 100vh;
	margin: 0;
  background-color: #ffffff;
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	opacity: 0.05;
}

.pointer {
	cursor: pointer;
}
